doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/nivo-slider.css')
    link(rel='stylesheet', href='/stylesheets/bar.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//codeorigin.jquery.com/jquery-1.10.2.min.js")
    // script(src="/javascripts/jquery.nivo.slider.pack.js")
    script(src="/javascripts/jquery.nivo.slider.js")
    script(src="/socket.io/socket.io.js")

  body
    block content


    script(src="/javascripts/functions.js")
