img.photo(src=url)

.info
  img.profile_picture(src=user.profile_picture)
  .username
    = user.username
  .moment(data-timestamp=created_time)
  - if (caption)
    .caption
      != caption.replace('#kenzanddave', '<span class="hashtag">#kenzanddave</span>');