include 'layout.blade'

replace block content
  #slider
    .current.slide
    .old.slide

  #new
    i.icon-camera-retro.icon-2x
    span.text New photo coming up!

  #reminder
    i.icon-instagram.icon-large
    |  
    != "Want your photo up here? Post it to Instagram with the tag <span class='hashtag'>#kenzanddave</span>"

  script(type='text/javascript')
    != "Slider.slides = "+JSON.stringify(photos)+";"

