extends layout

block content
  .slider-wrapper.theme-bar
    .ribbon
      #slider.nivoSlider
        each photo in photos
          img.photo(src=photo.url data-photo-id=photo.id)

  #info
    each photo in photos
      .info(data-photo-id=photo.id)
        img.profile_picture(src=photo.user.profile_picture)
        = photo.user.username


