body {
  margin: 0;
  border: 0;
  padding: 0;
  background: #000;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  /*width: 1280px;*/

  overflow: hidden;;
}

img { border: 0;}

#slider {
  position: relative;
}

#slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  /*margin: 24px;*/
}
#slider .current {
  z-index: 2;
}


/* .slide */ 
.photo {
  /*border-radius: 10px;*/
  margin: 10px 0 0 10px;
  float: left;
  width: 60%;
}

.info {
  float: left;
  margin: 24px 24px 24px 36px;
  width: 30%;
}

.profile_picture {
  width: 40%;
  max-width: 100px;
}

.username {
  color: #79BAED;
  color: #F0E18D;
  font-size: 48px;
  line-height: 50px;
}

.caption {
  font-size: 34px;
}

.moment {
  font-size: 24px;
  line-height: 28px;
  color: #bbb;
  border-bottom: 1px solid #444;
  padding-bottom: 8px;
  margin-bottom: 12px;
}


#new {
  display: none;
  position: absolute;
  right: -100px;
  top: 50px;
  font-size: 22px;
  line-height: 28px;
  padding: 12px;
  background: #1F6B03;
  border-radius: 10px 0 0 10px;
  width: 400px;
  z-index: 20;
}

#new .text {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: -5px;
}

#reminder {
  font-size: 28px;
  line-height: 34px;
  display: none;
  position: absolute;
  right: 20px;
  bottom: 125px;
  padding: 12px;
  border-radius: 10px;
  width: 400px;
  z-index: 20;

  background: -moz-linear-gradient(top,  rgba(99,99,99,0.65) 0%, rgba(99,99,99,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,99,99,0.65)), color-stop(100%,rgba(99,99,99,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(99,99,99,0.65) 0%,rgba(99,99,99,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(99,99,99,0.65) 0%,rgba(99,99,99,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(99,99,99,0.65) 0%,rgba(99,99,99,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(99,99,99,0.65) 0%,rgba(99,99,99,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}


span.hashtag {
  color: #F0E18D;
}